<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>422798258562-r2opkp1h7c1et9t0871f2nnucorm92ro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422798258562-r2opkp1h7c1et9t0871f2nnucorm92ro</string>
	<key>API_KEY</key>
	<string>AIzaSyCX3xOU4zj0Nv5UGQzp7iqAr6MPqsVSlEE</string>
	<key>GCM_SENDER_ID</key>
	<string>422798258562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personberg.maprun</string>
	<key>PROJECT_ID</key>
	<string>maprun-2d40c</string>
	<key>STORAGE_BUCKET</key>
	<string>maprun-2d40c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:422798258562:ios:742b91abc51dacf3</string>
	<key>DATABASE_URL</key>
	<string>https://maprun-2d40c.firebaseio.com</string>
</dict>
</plist>